.about {
  width: 100%;
  padding-top: 60px;
  background-color: #f1f2f5;
}

.about .about-top {
  line-height: 1.618;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 30px;
}

.about .about-top .about-header {
  font-size: 40px;
  font-family: "Allura", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  color: #9e8746;
}

.about .about-top h2 {
  font-size: 40px;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
}

.about .about-top p {
  margin-bottom: 80px;
  color: #4d4d4d;
}

.about .about-top img {
  width: 100%;
  -webkit-box-shadow: 0 12px 40px rgba(0, 0, 0, 0.158);
          box-shadow: 0 12px 40px rgba(0, 0, 0, 0.158);
}

.about .lp-gallery .lp-gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.about .lp-gallery .lp-gallery-flex .lp-gallery-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.62);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .lp-gallery .lp-gallery-flex .lp-gallery-button {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  padding: 20px 40px;
  background-color: #e0bc75;
  border: 1px solid #261e1c;
  -webkit-transition: all 0.618s ease;
  transition: all 0.618s ease;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158), 0 2px 10px 0 rgba(0, 0, 0, 0.158);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158), 0 2px 10px 0 rgba(0, 0, 0, 0.158);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: hidden;
  cursor: pointer;
}

.about .lp-gallery .lp-gallery-flex .lp-gallery-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#261e1c), to(#261e1c));
  background: linear-gradient(to right, #261e1c, #261e1c);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.38s ease;
  transition: all 0.38s ease;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.about .lp-gallery .lp-gallery-flex .lp-gallery-button:hover:before,
.about .lp-gallery .lp-gallery-flex .lp-gallery-button:focus:before,
.about .lp-gallery .lp-gallery-flex .lp-gallery-button:active:before {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.about .lp-gallery .lp-gallery-flex .lp-gallery-button:hover,
.about .lp-gallery .lp-gallery-flex .lp-gallery-button:focus,
.about .lp-gallery .lp-gallery-flex .lp-gallery-button:active {
  background-color: #261e1c;
  color: #e0bc75;
}

.about .lp-gallery .lp-gallery-flex img {
  width: 25%;
  height: 19vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.about .lp-gallery-flex:hover .lp-gallery-overlay {
  opacity: 1;
}
/*# sourceMappingURL=About.css.map */