.about-page {
  width: 100%;
  background-color: #f1f2f5;
  .slide {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    .slick-prev {
      left: 40px;
      z-index: 5;
      margin-top: 175px;
    }
    .slick-next {
      right: 65px;
      z-index: 5;
      margin-top: 175px;
    }
}
  .about-page-left {
    display: flex;
    .about-page-left-content {
      width: 100%;
      padding: 5vw;
      h2 {
        color: #9e8746;
        font-size: 40px;
        font-family: "Allura", sans-serif;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
        color: #4d4d4d;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      max-height: 100vh;
    }
  }
  .our-history {
    width: 100%;
    min-height: 75vh;
    display: flex;
    .our-history-gradient {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.618);
      position: absolute;
    }
    .our-history-item {
      z-index: 5;
      text-align: center;
      position: relative;
      cursor: grab;
      padding: 30px;
      h2 {
        color: #e0bc75;
        font-size: 40px;
        font-family: 'Allura', sans-serif;
      }

      h3 {
        color: #fff;
        font-size: 48px;
        margin-bottom: 20px;
      }
      .date {
          font-size: 24px;
          margin-bottom: 20px;
      }
      p {
        color: #fff;
      }
    }
  }
}

.slide {
    width: 100%;
  max-width: 1000px;
  margin: auto;
  
}

.slick-prev::before,
.slick-next::before {
    font-size: 40px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 992px) {
    .about-page-left {
        flex-flow: column;
        img {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .about-page {
    .slide {
        justify-content: center;
        align-items: start;
        h3 {
            font-size: 36px !important;
        }
      }
      .slick-prev,
      .slick-next {
        margin-top: 175px !important;
      }
      .slick-prev {
        left: 10px !important;
      }
      .slick-next {
        right: 32px !important;
      }
    }
}