.about {
    width: 100%;
    padding: 60px 30px;
    background-color: #f1f2f5;
    .about-flex {
        display: flex;
        max-width: 1400px;
        margin: auto;
        .about-left {
             width: 68%;
             line-height: 1.618;
             margin-right: 30px;
        .about-header {
            font-size: 32px;
            font-family: 'Allura', sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
            color: #a08b52;
        }
        h2 {
            font-size: 40px;
            font-family: 'Jost', sans-serif;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 40px;
            color: #4d4d4d;
        }
            img {
                width: 100%;
                    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.220);
            }
        
    }
    }
    .about-right {
        width: 34%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin-left: 30px;
        h2 {
            margin-bottom: 20px;
            color: #a08b52;
            font-family: 'Allura', sans-serif;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}