.about {
  width: 100%;
  padding: 60px 30px;
  background-color: #f1f2f5;

  .about-top {
    line-height: 1.618;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    .about-header {
      font-size: 40px;
      font-family: "Allura", sans-serif;
      font-weight: 600;
      margin-bottom: 0;
      color: #9e8746;
    }
    h2 {
      font-size: 40px;
      font-family: "Jost", sans-serif;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 40px;
      color: #4d4d4d;
    }
    img {
      width: 100%;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.158);
    }
  }
  .lp-gallery {
    .lp-gallery-flex {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: auto;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      

      .lp-gallery-overlay {
          width: 100%;
          height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.62);
        opacity: 0;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .lp-gallery-overlay button {
          font-size: 20px;
          font-weight: 700;
          position: absolute;
          padding: 20px 40px;
          background-color: #e0bc75;
          border: 1px solid #261e1c;
          cursor: pointer;
      }
      img {
        width: 25%;
        height: 20vw;
        object-fit: cover;
        margin: 0;
      }
    }
  }
  .lp-gallery-flex:hover .lp-gallery-overlay {
    opacity: 1;
  }
}
