.chef-profile {
  overflow-x: hidden !important;
}

.chef-profile .chef-hero {
  width: 100%;
  height: 62vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}

.chef-profile .chef-hero .chef-hero-content h1 {
  color: #fff;
  font-size: 64px;
  text-shadow: 2px 2px 4px black;
}

.chef-profile .chef-profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 30px;
  max-width: 1280px;
  margin: auto;
}

.chef-profile .chef-profile-flex .chef-left {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
  margin-right: 15px;
}

.chef-profile .chef-profile-flex .chef-left img {
  width: 100%;
  margin-bottom: 20px;
}

.chef-profile .chef-profile-flex .chef-left h2 {
  margin-bottom: 20px;
}

.chef-profile .chef-profile-flex .chef-left p {
  color: #4d4d4d;
  margin-bottom: 20px;
}

.chef-profile .chef-profile-flex .chef-left form {
  width: 100%;
}

.chef-profile .chef-profile-flex .chef-left form h3 {
  margin: 20px 0;
}

.chef-profile .chef-profile-flex .chef-left form input {
  width: 100%;
}

.chef-profile .chef-profile-flex .chef-left form .form-group {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.chef-profile .chef-profile-flex .chef-left form .form-group input {
  padding: 10px;
  outline: none;
  border: 1px solid #c5c5c5;
}

.chef-profile .chef-profile-flex .chef-left form .form-group label {
  margin: 15px 0;
}

.chef-profile .chef-profile-flex .chef-left form .form-group textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  outline: none;
  border: 1px solid #c5c5c5;
}

.chef-profile .chef-profile-flex .chef-sidebar {
  width: 45%;
  height: 100%;
  margin-left: 15px;
}

.chef-profile .chef-profile-flex .chef-sidebar .chef-sidebar-item {
  padding: 30px;
  -webkit-box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.158);
          box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.158);
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.chef-profile .chef-profile-flex .chef-sidebar .chef-sidebar-item .chef-sidebar-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chef-profile .chef-profile-flex .chef-sidebar .chef-sidebar-item .chef-sidebar-profile:last-of-type {
  margin-bottom: 0;
}

.chef-profile .chef-profile-flex .chef-sidebar .chef-sidebar-item img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .chef-profile-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .chef-profile-flex .chef-left {
    margin: auto;
    width: 100% !important;
    margin-bottom: 30px;
  }
  .chef-profile-flex .chef-sidebar {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 !important;
  }
  .chef-profile-flex .chef-sidebar-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
  }
  .chef-profile-flex .ml-10 {
    margin-left: 15px;
    margin-bottom: 30px !important;
  }
  .chef-profile-flex .mr-10 {
    margin-right: 15px;
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .chef-profile-flex {
    padding: 60px 20px !important;
  }
  .chef-sidebar {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    margin: 0 !important;
  }
  .chef-sidebar-item {
    width: 100% !important;
  }
  .ml-10 {
    margin-left: 0 !important;
  }
  .mr-10 {
    margin-right: 0 !important;
  }
  .ip1, .ip2 {
    margin-left: 0 !important;
  }
}
/*# sourceMappingURL=ChefProfile.css.map */