.coffee-overlay {
  width: 100%;
  .coffee-overlay-gradient {
    width: 100%;
    height: 85vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
  }
  .coffee-overlay-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    min-height: 85vh;

    .coffee-overlay-content {
      z-index: 5;
      text-align: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 64px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      }
      p {
        max-width: 1000px;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-top: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      }
      .hero-button {
        color: white;
        margin-top: 40px;
        border: 1px solid #ad985f;
      }
    }
  }
  
}

