footer {
  width: 100%;
  background-color: #261e1c;
  .footer-flex {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
    padding: 60px 0;
    .footer-item {
        padding: 0 20px;
      color: #d1d1d1;
      line-height: 2;
      h4 {
          font-size: 20px;
          margin-bottom: 13px;
          color: #ad985f;
      }
      ul li {
          list-style: none;
      }
      a {
          text-decoration: none;
          color: #d1d1d1;
      }
    }
      .footer-about {
          width: 35%;
        img {
          width: 266px;
          margin-top: 20px;
        }
      
    }
  }
  .footer-contact {
    ul li {
      display: flex;
      align-items: center;
      .MuiSvgIcon-root {
        margin-right: 8px;
      }
    }
  }
  .footer-bottom {
    padding: 20px;
    color: #d1d1d1;
    background-color: #161211;
    .footer-bottom-flex {
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    padding: 0 30px;
    .footer-bottom-icons {
      display: flex;
      align-items: center;
    .MuiSvgIcon-root {
      margin-left: 5px;
      margin-bottom: 0;
    }
  }
}
  }
}

@media screen and (max-width: 699px) {
  .footer-flex {
    flex-flow: row wrap;
    .footer-item {
      flex: 1 50% !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer-flex {
    flex-flow: column;
    h4 {
      margin: 13px 0;
    }
    ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center !important;
    }
    .footer-item {
      text-align: center;
      width: 100% !important;
    }
  }
}