.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);

  
  
  .hero-content {
    z-index: 2;
    position: absolute;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);


    h1 {
      font-size: 64px;
      font-family: "Jost", sans-serif;
      color: white;
      text-shadow: 2px 2px 4px black;
    }
    p {
      font-size: 24px;
      font-weight: 600;
      color: white;
      text-shadow: 2px 2px 4px black;
    }
    .hero-button {
      margin-top: 30px;
    }
  }
  
}
