.lp-menu {
  width: 100%;
  padding: 60px 30px;
  background-color: #f1e7dc;
}

.lp-menu .menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.lp-menu .menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  text-align: center;
}

.lp-menu button {
  list-style: none;
  padding: 12px 20px;
  margin-left: 30px;
  background-color: #261e1c;
  color: #e0bc75;
  width: 125px;
  text-align: center;
  border: 1px solid #ad985f;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lp-menu .lp-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1400px;
  margin: auto;
}

.lp-menu .lp-menu-items .lp-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.lp-menu .lp-menu-items .lp-menu-item .lp-menu-item-img {
  width: 230px;
}

.lp-menu .lp-menu-items .lp-menu-item img {
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.lp-menu .lp-menu-items .lp-menu-item .lp-menu-item-content {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lp-menu .lp-menu-items .lp-menu-item .lp-menu-item-title {
  font-size: 28px;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #111;
}

.lp-menu .lp-menu-items .lp-menu-item .lp-menu-item-ingredients {
  font-size: 16px;
}

.lp-menu .pastaitem, .lp-menu .fishitem, .lp-menu .pizzaitem, .lp-menu .wineitem, .lp-menu .coffeeitem {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 30px 0;
}

.lp-menu .active {
  background-color: #e0bc75 !important;
  color: #111 !important;
  border-color: #111 !important;
}

.lp-menu .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: MenuFade 1000ms ease 0s 1 normal both;
          animation: MenuFade 1000ms ease 0s 1 normal both;
}

.lp-menu .hide {
  display: none;
  -webkit-animation: MenuHideFade 1000ms ease 0s 1 normal both;
          animation: MenuHideFade 1000ms ease 0s 1 normal both;
}

@-webkit-keyframes MenuFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MenuFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MenuHideFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes MenuHideFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=LPMenu.css.map */