.lp-menu {
  width: 100%;
  padding: 60px 30px;
  background-color: #f1e7dc;
}

.lp-menu h2 {
  padding: 12px 30px;
  border: 5px solid #261e1c;
}

.lp-menu .menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 40px;
}

.lp-menu .menuButton {
  list-style: none;
  font-size: 17px;
  padding: 12px 20px;
  margin-left: 10px;
  color: #e0bc75;
  background-color: #261e1c;
  border: 1px solid #ad985f;
  width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lp-menu .lp-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 1280px;
  margin: auto;
}

.lp-menu .lp-menu-items h3 {
  padding-bottom: 40px;
  font-family: "Allura", sans-serif;
  font-size: 32px;
  color: #261e1c;
  margin: 0;
}

.lp-menu .lp-menu-items h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #261e1c;
  margin-top: 41px;
}

.lp-menu .lp-menu-items-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1280px;
  margin: auto;
}

.lp-menu .lp-menu-items-flex .lp-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
}

.lp-menu .lp-menu-items-flex .lp-menu-item h2 {
  position: absolute;
  top: 0;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-img {
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.23);
}

.lp-menu .lp-menu-items-flex .lp-menu-item .menu-img-overlay {
  width: 100%;
  height: 100%;
  color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5850438e;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .menu-img-overlay-button {
  width: 100px;
  height: 40px;
  background-color: #261e1c;
  color: #fff;
  font-weight: 700;
  position: absolute;
  border: 1px solid #ad985f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.158);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.158);
  cursor: pointer;
}

.lp-menu .lp-menu-items-flex .lp-menu-item img {
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 8px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  height: 100%;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-content {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-title {
  font-size: 23px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #111;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-ingredients {
  font-size: 16px;
  color: #4d4d4d;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-allergens {
  color: #4d4d4d;
}

.lp-menu .lp-menu-items-flex .lp-menu-item .lp-menu-item-price {
  font-weight: 700;
}

.lp-menu .pastaitems,
.lp-menu .fishitems,
.lp-menu .pizzaitems,
.lp-menu .wineitems,
.lp-menu .coffeeitems {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 30px 0;
  cursor: pointer;
}

.lp-menu .pastaitems:hover .menu-img-overlay,
.lp-menu .fishitems:hover .menu-img-overlay,
.lp-menu .pizzaitems:hover .menu-img-overlay,
.lp-menu .wineitems:hover .menu-img-overlay,
.lp-menu .coffeeitems:hover .menu-img-overlay {
  opacity: 1;
}

.lp-menu .menuButtonActive {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158), 0 2px 10px 0 rgba(0, 0, 0, 0.158);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158), 0 2px 10px 0 rgba(0, 0, 0, 0.158);
  background-color: #e0bc75;
  color: black;
}

.lp-menu .menuItemHide {
  display: none !important;
}

.lp-menu #coffee-scroll {
  scroll-margin-top: 75px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1080px) {
  .lp-menu {
    padding: 60px 10px;
  }
  .lp-menu h3 {
    margin: 15px !important;
    padding-bottom: 20px !important;
  }
  .menu-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .menu-buttons h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto 30px auto;
  }
  .menu-buttons .menu-buttons-container {
    margin: auto;
  }
  .menu-buttons .menu-buttons-container button {
    margin: 5px !important;
  }
  .pastaitems,
  .fishitems,
  .pizzaitems,
  .wineitems,
  .coffeeitems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 !important;
  }
  .lp-menu-item {
    margin: 15px !important;
  }
  .lp-menu-item-content {
    padding: 0 !important;
    margin-top: 10px;
  }
  .lp-menu-item-content a {
    margin-bottom: 8px;
  }
  .lp-menu-item-content p {
    margin-bottom: 8px;
  }
  .lp-menu-item-img {
    width: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
    height: 100% !important;
  }
  .lp-menu-item-img img {
    width: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
  }
}

@media screen and (max-width: 725px) {
  .menu-buttons h2 {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .menu-buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-buttons-container button {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 40% !important;
            flex: 1 40% !important;
    margin: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .lp-menu-item-price {
    margin-bottom: 20px !important;
  }
}
/*# sourceMappingURL=LPMenu.css.map */