.menu-item {
  width: 100%;
  padding: 60px 20px;
  background-color: #e6e6e6;
  .button-flex {
    width: 62vw;
    display: flex;
    justify-content: flex-start;
  }
  h2 {
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.38s ease;
    a {
      color: #e0bc75;
      transition: all 0.38s ease;
      text-decoration: none;


    }
    a:hover {
      color: #333;
    }
    .hero-button {
    }
  }
 
  
  .menu-item-flex {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    margin: auto;
    max-width: 1280px;
    .menu-item-content {
      width: 62vw;
      background-color: #fff;
      box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      span {
        font-size: 20px;
        font-weight: 700;
      }
      img {
        width: 100%;
        margin: auto;
        max-height: 550px !important;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      h1 {
        font-size: 48px;
        font-family: "Allura", sans-serif;
        padding: 15px;
        color: #9e8746;
      }
      .food-description,
      .food-ingredients,
      .food-allergies,
      .food-price {
        padding: 15px;
        font-size: 16px;
        color: #333;
      }
      .food-description {
        background-color: #f1f2f5;
      }
      .food-allergies {
        background-color: #f1f2f5;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .button-flex {
    width: 100% !important;
  }
  .menu-item-content {
    width: 100% !important;
  }
}