* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}